*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.account{
    background-color: #292929;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
.imglogod {
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: 0.5s ease;
  }

.par-get{
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#shwpswemail , #c-psw{
  padding: 10px;border-radius: 10px; outline: none;font-size: 1.1em;font-weight: bold;
}
#nb{
  display: none;
}

#check{
  font-weight: 700;
  padding: 10px;border-radius: 10px;outline: none;background-color: black;color: white;border: 2px black solid;transition: .5s ease;
}
#check:hover{
  background-color: white;
  color: black;
}


#cpsw{
  display: none;
}