.pay{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #292929;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.imglogod {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s ease;
  }
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.beta{
    padding: 2px;
    border-radius: 50px;
    background-color: rebeccapurple;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
header a:hover{
    text-decoration: underline;
}
.acctxt:hover{
    border: white solid 1px;
}